.container {
    justify-content: center;
    align-items: center;
    text-align: center;
}
body{
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: rgb(24, 24, 24);
    color: #fff;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.app h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
footer{
    position: absolute;
 background:#333;
 width: 100%;
 height: 60px;
 bottom: 0;
}
.input-single{
   margin-left: 80px;
   margin-right: 80px;
}
footer h1{
    position: relative;
    font-size: 18px;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    justify-content: center;
   line-height: 60px;
    align-items: center;
     left: 42%;
}
#notes{
    background-color: #333;
    width: 500px;
    margin: auto;
    height:auto;
    border-radius: 10px;
}
.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
   }
  
  /* Demo Stuff End -> */
  
  /* <- Magic Stuff Start */
  
  .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  
  #start-record-btn {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }
  
  #pause-record-btn {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
  
  #save-note-btn {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }
  
  
  /* Magic Stuff End -> */